html{
    scroll-behavior: smooth;
}

body{
    background: #666666;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    overflow: auto;
}

body::-webkit-scrollbar{
    width: .5rem;
}

body::-webkit-scrollbar-thumb{
  background: #555555;
  border-radius: .5rem;
}

section, menu, footer{
    text-align: center;
}

/* I used this to test the dimention of the sections, so I prefered to don't deleted, lol */
/* section{
    border: .5rem solid black;
} */