.educationAndCourses__div{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 51.25rem){
    .educationAndCourses__div{
        align-items: center;
        justify-content: space-evenly;
    }
}