#cntcUl{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    list-style: none;
}

@media only screen and (min-width: 1024px){
    #cntcUl{
        flex-direction: row;
        justify-content: space-between;
    }
}