.cntcUlLi{
    display: flex;
    justify-content: center;
    width: 8%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: #666;
}

.cntcUlLi:hover, .cntcUlLi:active, .cntcUlLi:focus {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .cntcUlLi{
        width: 15%;
    }
}