.contactForm__ul__li_button{
    all: unset;
    width: 11rem;
    height: 11rem;
    cursor: pointer;
    margin: .8rem 0 .8rem 0;
}

@media only screen and (max-width: 51.25rem){
    .contactForm__ul__li_button{
        width: 6rem;
        height: 6rem;
    }
}

@media only screen and (max-width: 27rem){
    .contactForm__ul__li_button{
        width: 4rem;
        height: 4rem;
    }
}