.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 8rem 0;
}

@media only screen and (max-width: 51.25rem){
    .aboutMe{
        grid-column: 1/3;
    }   
}