.menu__ul__li{
    border-radius: .3rem;
    transition: 400ms;
    margin: 0 .3rem 0 .3rem;
    padding: .5rem;
}

.menu__ul__li:hover{
    background: #333333;
    margin: 0 2rem 0 2rem;
}

/* This affect the distance from the border, of the list item "contact" from the menu */
li:nth-last-child(1){
    margin: 0 1.2rem 0 .3rem;
}

@media only screen and (max-width: 51.25rem){
    .menu__ul__li{
        font-size: .8rem;
    }
    .menu__ul__li:hover{
        margin: 0;
    }
}

@media only screen and (max-width: 27rem){
    .menu__ul__li{
        font-size: .6rem;
        
    }
    li:nth-last-child(1){
        margin: 0;
    }
}

@media only screen and (max-width: 20rem){
    .menu__ul__li{
        font-size: .5rem;
    }
}