.menu__logo{
    margin: 0 .3rem 0 1.2rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.menu__logo:hover{
    transition: 400ms;
    color: #999999;
}

@media only screen and (max-width: 51.25rem){
    .menu__logo{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 27rem){
    .menu__logo{
        margin: .5rem .3rem .5rem .3rem;
    }
}