#navBar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    height: 50px;
}

@media only screen and (min-width: 1024px) {
    #navBar{
        width: 10%;
    }
}