#navBarBtn{
    width: 30%;
    height: 50px;
    backdrop-filter: blur(100px);
    border: 1px solid #999999;
    border-radius: 10px;
    transition: 400ms;
    background-color: transparent;
}

#navBarBtn:hover,#navBarBtn:active,#navBarBtn:focus {
    cursor: pointer;
    transition: 400ms;
    background-color: #222222;
    color: #999999;
}

@media only screen and (min-width: 1024px){
    #navBarBtn{
        width: 10%;
    }
}