.grid{
    display: grid;

    max-width: 80rem;
    height: auto;
    margin: auto;
    
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(6,auto);
}

@media only screen and (max-width: 51.25rem){
    
}

@media only screen and (max-width: 27rem){

}

@media only screen and (max-width: 20rem){

}