.perPracUlLi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: #666;
}

.perPracUlLi:hover, .perPracUlLi:active, .perPracUlLi:focus {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .perPracUlLi{
        width: 45%;
        margin: 0 0 25px 0;
    }
}

@media only screen and (max-width: 480px) {
    .perPracUlLi{
        width: 100%;
        margin: 0 0 25px 0;
    }
}