#personalPractice{
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 0 50px 0;
}

@media only screen and (max-width: 1024px) {
    #personalPractice{
        padding: 50px 0 25px 0;
    }
}