.hobbiesAndSoftskills{
    display: flex;
    flex-direction: column;
    margin: 0 0 8rem 0;
}
@media only screen and (max-width: 51.25rem){
    .hobbiesAndSoftskills{
        grid-column: 1/3;
    }   
}