.hobbiesAndSoftskills__skills{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 51.25rem){
    .hobbiesAndSoftskills__skills{
        justify-content: space-evenly;
    }
}